<div class="container">
    <h1 class="titulo text-center">Mis Cargas</h1>
    <div class="mis-cargas">
        <div class="bg-light rounded rounded-pill shadow-sm">
            <div class="dropdown dropdown-lg d-flex input-group-append">
                <button type="button" class="btn gris dropdown-toggle ml-auto" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-filter"></i></button>
                <div class="dropdown-menu dropdown-menu-lg-right" role="menu">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="filter">Filtrar por</label>
                            <select class="form-control">
                                <option value="0">Nombre</option>
                                <option value="1">Apellido</option>
                                <option value="2">DNI</option>
                                <option value="3">Fecha Nacimiento</option>
                                <option value="4">Lugar Nacimiento</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control border-0 bg-light" placeholder="Buscar..." aria-describedby="button-addon1">
                    <div class="input-group-append">
                        <button id="button-addon1" type="submit" class="btn text-primary"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card Lourdes -->
        <div class="card">
            <div class="card-header">Lede, Lourdes del Mar</div>
            <div class="card-body">
                <h4 class="card-title">DNI: 40.775.265</h4>
                <h4 class="card-title">Fecha de Nacimiento: 17/02/1998</h4>
                <h4 class="card-title">Lugar de Nacimiento: La Rioja, Capital</h4>
                <div class="botones">
                    <button class="btn btn1 btn-primary btns text-uppercase" data-toggle="modal" data-target="#ver-acta-lourdes">
                        <i class="fas fa-eye"></i>
                        Ver
                    </button>
                    <button class="btn btn-primary btns text-uppercase" data-toggle="modal" data-target="#editar-acta-lourdes">
                        <i class="fas fa-user-edit"></i>
                        Editar
                    </button>
                </div>
            </div>
        </div>
        <!-- Card Susana-->
        <div class="card">
            <div class="card-header">Mansilla, Susana Estela</div>
            <div class="card-body">
                <h4 class="card-title">DNI: 23.963.589</h4>
                <h4 class="card-title">Fecha de Nacimiento: 24/04/1974</h4>
                <h4 class="card-title">Lugar de Nacimiento: La Rioja, Capital</h4>
                <div class="botones">
                    <button class="btn btn1 btn-primary btns text-uppercase" data-toggle="modal" data-target="#ver-acta-susana">
                        <i class="fas fa-eye"></i>
                        Ver
                    </button>
                    <button class="btn btn-primary btns text-uppercase" data-toggle="modal" data-target="#editar-acta-susana">
                        <i class="fas fa-user-edit"></i>
                        Editar
                    </button>
                </div>
            </div>
        </div>
        <!-- Modal Ver Lourdes-->
        <div class="modal fade" id="ver-acta-lourdes" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLongTitle">Ver Acta</h5>
                        <button type="button" class="close btn btn-cerrar" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="fas fa-times"></i>
                    </button>
                    </div>
                    <div class="modal-body">
                        <ul class="list-inline">
                            <h1 class="titulo-lista">Acta de Nacimiento</h1>
                            <li class="item list-group-item-borderless"><strong>Tomo N°: </strong> 300</li>
                            <li class="item list-group-item-borderless"><strong>Acta N°: </strong> 481</li>
                            <li class="item list-group-item-borderless"><strong>Año: </strong> 1998</li>
                        </ul>
                        <ul class="list-inline">
                            <li class="item-a list-group-item-borderless">
                                <a href="assets/pdf/partida de nacimiento.pdf" target="_blank">
                                    <i class="fas fa-eye"></i> VER
                                </a>
                            </li>
                        </ul>
                        <hr>
                        <ul class="list-inline">
                            <h1 class="titulo-lista">Datos del Inscripto</h1>
                            <li class="item list-group-item-borderless"><strong>DNI: </strong> 40.775.265</li>
                            <li class="item list-group-item-borderless"><strong>Sexo: </strong> Femenino</li>
                            <li class="item list-group-item-borderless"><strong>Nombre y Apellido: </strong> Lourdes del Mar Lede</li>
                            <li class="item list-group-item-borderless"><strong>Fecha de Nacimiento: </strong> 17/02/1998</li>
                            <li class="item list-group-item-borderless"><strong>Fecha de Inscripción: </strong> 25/03/1998</li>
                            <li class="item list-group-item-borderless"><strong>Provincia: </strong> La Rioja</li>
                            <li class="item list-group-item-borderless"><strong>Departamento: </strong> Capital</li>
                            <li class="item list-group-item-borderless"><strong>Localidad: </strong> La Rioja</li>
                        </ul>
                        <hr>
                        <ul class="list-inline">
                            <h1 class="titulo-lista">Datos del Nacimiento</h1>
                            <li class="item list-group-item-borderless"><strong>Obstetra: </strong> Dra. Alejandra de Poledri</li>
                            <li class="item list-group-item-borderless"><strong>Hora de Nacimiento: </strong> 09:40hs</li>
                            <li class="item list-group-item-borderless"><strong>Clínica: </strong> Centro Privado de Maternidad y Ginecología</li>
                            <li class="item list-group-item-borderless"><strong>Tipo de Clínica: </strong> Privada</li>
                        </ul>
                        <hr>
                        <ul class="list-inline">
                            <h1 class="titulo-lista">Datos de Madre/Padre</h1>
                            <li class="item list-group-item-borderless"><strong>DNI: </strong> 23.670.990</li>
                            <li class="item list-group-item-borderless"><strong>Nombre y Apellido: </strong> Ángel Gustavo Lede</li>
                            <li class="item list-group-item-borderless"><strong>Domicilio: </strong> Joaquín V. González 655 - Monoblock B Depto 18</li>
                        </ul>
                        <hr>
                        <ul class="list-inline">
                            <h1 class="titulo-lista">Datos de Madre/Padre</h1>
                            <li class="item list-group-item-borderless"><strong>DNI: </strong> 23.963.589</li>
                            <li class="item list-group-item-borderless"><strong>Nombre y Apellido: </strong> Susana Estela Mansilla Kukulis</li>
                            <li class="item list-group-item-borderless"><strong>Domicilio: </strong> Joaquín V. González 655 - Monoblock B Depto 18</li>
                        </ul>
                        <hr>
                        <ul class="list-inline">
                            <h1 class="titulo-lista">Declarantes</h1>
                            <li class="item list-group-item-borderless"><strong>Padre y Madre</strong></li>
                        </ul>
                        <hr>
                        <ul class="list-inline">
                            <h1 class="titulo-lista">Observaciones</h1>
                            <li class="item list-group-item-borderless"><strong>Ninguna</strong></li>
                        </ul>
                        <hr>
                        <ul class="list-inline">
                            <li class="item list-group-item-borderless">
                                <a href="assets/pdf/MODELO ACTA DIGITAL.pdf" download="Acta-Digital-Lede">
                                    <i class="fas fa-download"></i> DESCARGAR ACTA DIGITAL
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Editar Lourdes -->
        <div class="modal fade" id="editar-acta-lourdes" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLongTitle">Editar</h5>
                        <button type="button" class="close btn btn-cerrar" data-dismiss="modal" aria-label="Close">
                            <i aria-hidden="true" class="fas fa-times"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <h1 class="titulo-lista-2">Acta de Nacimiento</h1>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="tomo">Tomo N°</label>
                                    <input type="number" class="form-control" id="tomo" value="300">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="acta">Acta N°</label>
                                    <input type="number" class="form-control" id="acta" value="481">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="año">Año</label>
                                    <input type="number" class="form-control" id="año" value="1998">
                                </div>
                            </div>
                            <hr>
                            <h1 class="titulo-lista-2">Datos del Inscripto</h1>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="dni">DNI</label>
                                    <input type="text" class="form-control" id="dni" value="40.775.265">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="sexo">Sexo</label>
                                    <select id="sexo" class="form-control">
                                      <option value="1">Femenino</option>
                                      <option value="2">Masculino</option>
                                  </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="nombre">Nombre/s</label>
                                    <input type="text" class="form-control" id="nombre" value="Lourdes del Mar">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="apellido">Apellido/s</label>
                                    <input type="text" class="form-control" id="apellido" value="Lede">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="fechaNacimiento">Fecha de Nacimiento</label>
                                    <input type="date" class="form-control" id="fechaNacimiento" value="1998-02-17">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="fechaInscripcion">Fecha de Inscripción</label>
                                    <input type="date" class="form-control" id="fechaNacimiento" value="1998-03-25">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="provincia">Provincia</label>
                                    <select id="provincia" class="form-control">
                                        <option value="1">La Rioja</option>
                                        <option value="2">Córdoba</option>
                                        <option value="3">Buenos Aires</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="departamento">Departamento</label>
                                    <select id="departamento" class="form-control">
                                        <option value="1">Capital</option>
                                        <option value="2">Castro Barros</option>
                                        <option value="3">Chilecito</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="localidad">Localidad</label>
                                    <select id="localidad" class="form-control">
                                        <option value="1">La Rioja</option>
                                        <option value="2">Chilecito</option>
                                        <option value="3">Aimogasta</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <h1 class="titulo-lista-2">Datos del Nacimiento</h1>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="horaNacimiento">Horario de Nacimiento</label>
                                    <input type="time" class="form-control" id="horaNacimiento" value="09:40">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="nombre">Nombre/s Obstetra</label>
                                    <input type="text" class="form-control" id="nombre" value="Alejandra">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="apellido">Apellido/s Obstetra</label>
                                    <input type="text" class="form-control" id="apellido" value="de Poledri">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="clinica">Clínica</label>
                                    <select id="clinica" class="form-control">
                                      <option value="1">Centro Privado de Maternidad y Ginecología</option>
                                      <option value="2">Hospital de la Madre y el Niño</option>
                                      <option value="3">Hospital Vera Barros</option>
                                  </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="tipoClinica">Tipo de Clínica</label>
                                    <select id="tipoClinica" class="form-control">
                                      <option value="1">Privada</option>
                                      <option value="2">Pública</option>
                                  </select>
                                </div>
                            </div>
                            <hr>
                            <h1 class="titulo-lista-2">Datos de Madre/Padre</h1>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="dni">DNI</label>
                                    <input type="text" class="form-control" id="dni" value="23.670.990">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="nombre">Nombre/s</label>
                                    <input type="text" class="form-control" id="nombre" value="Ángel Gustavo">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="apellido">Apellido/s</label>
                                    <input type="text" class="form-control" id="apellido" value="Lede">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="barrio">Barrio</label>
                                    <select id="barrio" class="form-control">
                                        <option value="1">Centro</option>
                                        <option value="2">San Martín</option>
                                        <option value="3">San Vicente</option>
                                        <option value="4">Mis Montañas</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="calle">Calle</label>
                                    <select id="calle" class="form-control">
                                        <option value="1">Joaquín V. González</option>
                                        <option value="2">Urquiza</option>
                                        <option value="3">Avenida Castro Barros</option>
                                        <option value="4">Avenida Ortíz de Ocampo</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="numcalle">N°</label>
                                    <input type="number" class="form-control" id="numcalle" value="655">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="observaciones">Observaciones</label>
                                <textarea class="form-control" id="observaciones">Monoblock B Depto 18</textarea>
                            </div>
                            <hr>
                            <h1 class="titulo-lista-2">Datos de Madre/Padre</h1>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="dni">DNI</label>
                                    <input type="text" class="form-control" id="dni" value="23.963.589">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="nombre">Nombre/s</label>
                                    <input type="text" class="form-control" id="nombre" value="Susana Estela">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="apellido">Apellido/s</label>
                                    <input type="text" class="form-control" id="apellido" value="Mansilla Kukulis">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="barrio">Barrio</label>
                                    <select id="barrio" class="form-control">
                                        <option value="1">Centro</option>
                                        <option value="2">San Martín</option>
                                        <option value="3">San Vicente</option>
                                        <option value="4">Mis Montañas</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="calle">Calle</label>
                                    <select id="calle" class="form-control">
                                        <option value="1">Joaquín V. González</option>
                                        <option value="2">Urquiza</option>
                                        <option value="3">Avenida Castro Barros</option>
                                        <option value="4">Avenida Ortíz de Ocampo</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="numcalle">N°</label>
                                    <input type="number" class="form-control" id="numcalle" value="655">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="observaciones">Observaciones</label>
                                <textarea class="form-control" id="observaciones">Monoblock B Depto 18</textarea>
                            </div>
                            <hr>
                            <h1 class="titulo-lista-2">Declarantes</h1>
                            <div class="form-group">
                                <textarea class="form-control">Padre y Madre</textarea>
                            </div>
                            <hr>
                            <h1 class="titulo-lista-2">Observaciones</h1>
                            <div class="form-group">
                                <textarea class="form-control"></textarea>
                            </div>
                            <hr>
                            <h1 class="titulo-lista-2">Archivos Adjuntos</h1>
                            <div class="form-group archivos">
                                <a href="assets/pdf/MODELO ACTA DIGITAL.pdf" target="_blank">Acta</a>
                                <a href="assets/pdf/partida de nacimiento.pdf" target="_blank">Partida</a>
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="file" class="form-control-file" multiple>
                            </div>
                            <hr>
                            <button type="button" class="btn btn-guardar" data-dismiss="modal" type="submit">Guardar Cambios
                                <i class="fas fa-save"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Ver Susana-->
        <div class="modal fade" id="ver-acta-susana" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLongTitle">Ver Acta</h5>
                        <button type="button" class="close btn btn-cerrar" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="fas fa-times"></i>
                    </button>
                    </div>
                    <div class="modal-body">
                        <ul class="list-inline">
                            <h1 class="titulo-lista">Acta de Nacimiento</h1>
                            <li class="item list-group-item-borderless"><strong>Tomo N°: </strong> 199</li>
                            <li class="item list-group-item-borderless"><strong>Acta N°: </strong> 819</li>
                            <li class="item list-group-item-borderless"><strong>Año: </strong> 1974</li>
                        </ul>
                        <ul class="list-inline">
                            <li class="item-a list-group-item-borderless">
                                <a href="assets/pdf/partida de nacimientoMilva.pdf" target="_blank">
                                    <i class="fas fa-eye"></i> VER
                                </a>
                            </li>
                        </ul>
                        <hr>
                        <ul class="list-inline">
                            <h1 class="titulo-lista">Datos del Inscripto</h1>
                            <li class="item list-group-item-borderless"><strong>DNI: </strong> 23.963.589</li>
                            <li class="item list-group-item-borderless"><strong>Sexo: </strong> Femenino</li>
                            <li class="item list-group-item-borderless"><strong>Nombre y Apellido: </strong> Susana Estela Mansilla</li>
                            <li class="item list-group-item-borderless"><strong>Fecha de Nacimiento: </strong> 24/06/1974</li>
                            <li class="item list-group-item-borderless"><strong>Fecha de Inscripción: </strong> 11/10/1974</li>
                            <li class="item list-group-item-borderless"><strong>Provincia: </strong> La Rioja</li>
                            <li class="item list-group-item-borderless"><strong>Departamento: </strong> Capital</li>
                            <li class="item list-group-item-borderless"><strong>Localidad: </strong> La Rioja</li>
                        </ul>
                        <hr>
                        <ul class="list-inline">
                            <h1 class="titulo-lista">Datos del Nacimiento</h1>
                            <li class="item list-group-item-borderless"><strong>Obstetra: </strong> Dr. Enrique Sosa</li>
                            <li class="item list-group-item-borderless"><strong>Hora de Nacimiento: </strong> 07:10hs</li>
                            <li class="item list-group-item-borderless"><strong>Clínica: </strong> Instituto Médico Quirúrgico</li>
                            <li class="item list-group-item-borderless"><strong>Tipo de Clínica: </strong> Pública</li>
                        </ul>
                        <hr>
                        <ul class="list-inline">
                            <h1 class="titulo-lista">Datos de Madre/Padre</h1>
                            <li class="item list-group-item-borderless"><strong>DNI: </strong> 11.172.214</li>
                            <li class="item list-group-item-borderless"><strong>Nombre y Apellido: </strong> Ricardo Mansilla</li>
                            <li class="item list-group-item-borderless"><strong>Domicilio: </strong> Benjamín Rincón 716</li>
                        </ul>
                        <hr>
                        <ul class="list-inline">
                            <h1 class="titulo-lista">Datos de Madre/Padre</h1>
                            <li class="item list-group-item-borderless"><strong>DNI: </strong> 04.890.588</li>
                            <li class="item list-group-item-borderless"><strong>Nombre y Apellido: </strong> Susana Matilde Aurelia Kukulis</li>
                            <li class="item list-group-item-borderless"><strong>Domicilio: </strong> Benjamín Rincón 716</li>
                        </ul>
                        <hr>
                        <ul class="list-inline">
                            <h1 class="titulo-lista">Declarantes</h1>
                            <li class="item list-group-item-borderless"><strong>Padre y Madre</strong></li>
                        </ul>
                        <hr>
                        <ul class="list-inline">
                            <h1 class="titulo-lista">Observaciones</h1>
                            <li class="item list-group-item-borderless">
                                Esta inscripción se realiza fuera de término en cumplimiento de la Resolución N° 153 de fecha 11-10-74, dictada por la Directora del Registro Civil, en mérito a la autorización conferida por el Art.29 del Dto.8204/63 convalidado por Ley 16.478
                            </li>
                        </ul>
                        <hr>
                        <ul class="list-inline">
                            <li class="item list-group-item-borderless">
                                <a href="assets/pdf/MODELO ACTA DIGITAL 2.pdf" download="Acta-Digital-Mansilla">
                                    <i class="fas fa-download"></i> DESCARGAR ACTA DIGITAL
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Editar Susana -->
        <div class="modal fade" id="editar-acta-susana" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLongTitle">Editar</h5>
                        <button type="button" class="close btn btn-cerrar" data-dismiss="modal" aria-label="Close">
                            <i aria-hidden="true" class="fas fa-times"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <h1 class="titulo-lista-2">Acta de Nacimiento</h1>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="tomo">Tomo N°</label>
                                    <input type="number" class="form-control" id="tomo" value="199">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="acta">Acta N°</label>
                                    <input type="number" class="form-control" id="acta" value="819">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="año">Año</label>
                                    <input type="number" class="form-control" id="año" value="1974">
                                </div>
                            </div>
                            <hr>
                            <h1 class="titulo-lista-2">Datos del Inscripto</h1>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="dni">DNI</label>
                                    <input type="text" class="form-control" id="dni" value="23.963.589">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="sexo">Sexo</label>
                                    <select id="sexo" class="form-control">
                                      <option value="1">Femenino</option>
                                      <option value="2">Masculino</option>
                                  </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="nombre">Nombre/s</label>
                                    <input type="text" class="form-control" id="nombre" value="Susana Estela">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="apellido">Apellido/s</label>
                                    <input type="text" class="form-control" id="apellido" value="Mansilla">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="fechaNacimiento">Fecha de Nacimiento</label>
                                    <input type="date" class="form-control" id="fechaNacimiento" value="1974-06-24">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="fechaInscripcion">Fecha de Inscripción</label>
                                    <input type="date" class="form-control" id="fechaNacimiento" value="1974-10-11">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="provincia">Provincia</label>
                                    <select id="provincia" class="form-control">
                                        <option value="1">La Rioja</option>
                                        <option value="2">Córdoba</option>
                                        <option value="3">Buenos Aires</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="departamento">Departamento</label>
                                    <select id="departamento" class="form-control">
                                        <option value="1">Capital</option>
                                        <option value="2">Castro Barros</option>
                                        <option value="3">Chilecito</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="localidad">Localidad</label>
                                    <select id="localidad" class="form-control">
                                        <option value="1">La Rioja</option>
                                        <option value="2">Chilecito</option>
                                        <option value="3">Aimogasta</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <h1 class="titulo-lista-2">Datos del Nacimiento</h1>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="horaNacimiento">Horario de Nacimiento</label>
                                    <input type="time" class="form-control" id="horaNacimiento" value="07:10">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="nombre">Nombre/s Obstetra</label>
                                    <input type="text" class="form-control" id="nombre" value="Enrique">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="apellido">Apellido/s Obstetra</label>
                                    <input type="text" class="form-control" id="apellido" value="Sosa">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="clinica">Clínica</label>
                                    <select id="clinica" class="form-control">
                                      <option value="1">Instituto Médico Quirúrgico</option>
                                      <option value="2">Hospital de la Madre y el Niño</option>
                                      <option value="3">Hospital Vera Barros</option>
                                  </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="tipoClinica">Tipo de Clínica</label>
                                    <select id="tipoClinica" class="form-control">
                                      <option value="1">Pública</option>
                                      <option value="2">Privada</option>
                                  </select>
                                </div>
                            </div>
                            <hr>
                            <h1 class="titulo-lista-2">Datos de Madre/Padre</h1>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="dni">DNI</label>
                                    <input type="text" class="form-control" id="dni" value="11.172.214">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="nombre">Nombre/s</label>
                                    <input type="text" class="form-control" id="nombre" value="Ricardo">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="apellido">Apellido/s</label>
                                    <input type="text" class="form-control" id="apellido" value="Mansilla">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="barrio">Barrio</label>
                                    <select id="barrio" class="form-control">
                                        <option value="1">Joaquín V. González</option>
                                        <option value="2">San Martín</option>
                                        <option value="3">San Vicente</option>
                                        <option value="4">Mis Montañas</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="calle">Calle</label>
                                    <select id="calle" class="form-control">
                                        <option value="1">Benjamín Rincón</option>
                                        <option value="2">Urquiza</option>
                                        <option value="3">Avenida Castro Barros</option>
                                        <option value="4">Avenida Ortíz de Ocampo</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="numcalle">N°</label>
                                    <input type="number" class="form-control" id="numcalle" value="716">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="observaciones">Observaciones</label>
                                <textarea class="form-control" id="observaciones"></textarea>
                            </div>
                            <hr>
                            <h1 class="titulo-lista-2">Datos de Madre/Padre</h1>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="dni">DNI</label>
                                    <input type="text" class="form-control" id="dni" value="04.890.588">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="nombre">Nombre/s</label>
                                    <input type="text" class="form-control" id="nombre" value="Susana Matilde Aurelia">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="apellido">Apellido/s</label>
                                    <input type="text" class="form-control" id="apellido" value="Kukulis">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="barrio">Barrio</label>
                                    <select id="barrio" class="form-control">
                                        <option value="1">Joaquín V. González</option>
                                        <option value="2">San Martín</option>
                                        <option value="3">San Vicente</option>
                                        <option value="4">Mis Montañas</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="calle">Calle</label>
                                    <select id="calle" class="form-control">
                                        <option value="1">Benjamín Rincón</option>
                                        <option value="2">Urquiza</option>
                                        <option value="3">Avenida Castro Barros</option>
                                        <option value="4">Avenida Ortíz de Ocampo</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="numcalle">N°</label>
                                    <input type="number" class="form-control" id="numcalle" value="716">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="observaciones">Observaciones</label>
                                <textarea class="form-control" id="observaciones">Esta inscripción se realiza fuera de término en cumplimiento de la Resolución N° 153 de fecha 11-10-74, dictada por la Directora del Registro Civil, en mérito a la autorización conferida por el Art.29 del Dto.8204/63 convalidado por Ley 16.478</textarea>
                            </div>
                            <hr>
                            <h1 class="titulo-lista-2">Declarantes</h1>
                            <div class="form-group">
                                <textarea class="form-control">Padre y Madre</textarea>
                            </div>
                            <hr>
                            <h1 class="titulo-lista-2">Observaciones</h1>
                            <div class="form-group">
                                <textarea class="form-control"></textarea>
                            </div>
                            <hr>
                            <h1 class="titulo-lista-2">Archivos Adjuntos</h1>
                            <div class="form-group archivos">
                                <a href="assets/pdf/MODELO ACTA DIGITAL 2.pdf" target="_blank">Acta</a>
                                <a href="assets/pdf/partida de nacimientoMilva.pdf" target="_blank">Partida</a>
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="file" class="form-control-file" multiple>
                            </div>
                            <hr>
                            <button type="button" class="btn btn-guardar" data-dismiss="modal" type="submit">Guardar Cambios
                                <i class="fas fa-save"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer"></footer>