<div class="container">
    <h1 class="titulo text-center">Cargar acta</h1>
    <div class="carga">
        <form [formGroup]="formularioDeActas" class="was-validated" (ngSubmit)="enviarDatos()">
            <h3>Datos del Acta</h3>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="tomo">Tomo N°</label>
                    <input type="number" formControlName="tomo" class="form-control is-valid" id="tomo" placeholder="Ingrese número de tomo" required>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-4">
                    <label for="acta">Acta N°</label>
                    <input type="number" formControlName="acta" class="form-control is-valid" id="acta" placeholder="Ingrese número de acta" required>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-4">
                    <label for="anio">Año</label>
                    <input type="number" formControlName="anio" class="form-control is-valid" id="anio" placeholder="Ingrese año" required>
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="lomo">Lomo</label>
                    <input type="number" formControlName="lomo" class="form-control is-valid" id="lomo" placeholder="Ingrese 0, si no hay tomo" required>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-8">
                    <label for="delegacion">Delegación</label>
                    <input type="text" formControlName="delegacion" class="form-control is-valid" id="delegacion" placeholder="Ingrese Ninguna, si no hay delegación" required>
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            <h3>Datos del Inscripto</h3>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="dniInscripto" class="form-label">DNI</label>
                    <input type="number" formControlName="dniInscripto" class="form-control is-valid" id="dniInscripto" placeholder="Sin puntos ni espacios" required>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-6">
                    <label for="sexo">Sexo</label>
                    <select id="sexo" formControlName="sexo" class="form-control is-valid" required>
                        <option value="">Seleccione un sexo</option>
                        <option value="1">Femenino</option>
                        <option value="2">Masculino</option>
                        <option value="3">X</option>
                    </select>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-6">
                    <label for="nombreInscripto" class="form-label">Nombre/s</label>
                    <input type="text" formControlName="nombreInscripto" class="form-control is-valid" id="nombreInscripto" placeholder="Ingrese el nombre" required>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-6">
                    <label for="apellidoInscripto">Apellido/s</label>
                    <input type="text" formControlName="apellidoInscripto" class="form-control is-valid" id="apellidoInscripto" placeholder="Ingrese el apellido" required>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-6">
                    <label for="fechaNacimientoInscripto">Fecha de Nacimiento</label>
                    <input type="date" formControlName="fechaNacimientoInscripto" class="form-control is-valid" id="fechaNacimientoInscripto" required>
                    <div class="invalid-feedback">Ingrese la fecha de nacimiento</div>
                </div>
                <div class="form-group col-md-6">
                    <label for="fechaInscripcion">Fecha de Inscripción</label>
                    <input type="date" formControlName="fechaInscripcion" class="form-control is-valid" id="fechaInscripcion" required>
                    <div class="invalid-feedback">Ingrese la fecha de inscripción</div>
                </div>
                <div class="form-group col-md-4">
                    <label for="provinciaInscripto">Provincia</label>
                    <select id="provinciaInscripto" formControlName="provinciaInscripto" class="form-control is-valid" required>
                        <option value="">Seleccione una provincia</option>
                        <option value="1">La Rioja</option>
                        <option value="2">Buenos Aires</option>
                        <option value="3">Capital Federal</option>
                        <option value="4">Catamarca</option>
                        <option value="5">Chaco</option>
                        <option value="6">Chubut</option>
                        <option value="7">Córdoba</option>
                        <option value="8">Corrientes</option>
                        <option value="9">Entre Ríos</option>
                        <option value="10">Formosa</option>
                        <option value="11">Jujuy</option>
                        <option value="12">La Pampa</option>
                        <option value="13">Mendoza</option>
                        <option value="14">Misiones</option>
                        <option value="15">Neuquén</option>
                        <option value="16">Río Negro</option>
                        <option value="17">Salta</option>
                        <option value="18">San Juan</option>
                        <option value="19">San Luis</option>
                        <option value="20">Santa Cruz</option>
                        <option value="21">Santa Fé</option>
                        <option value="22">Santiago del Estero</option>
                        <option value="23">Tierra del Fuego</option>
                        <option value="24">Tucumán</option>
                    </select>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-4">
                    <label for="departamentoInscripto">Departamento</label>
                    <select id="departamentoInscripto" formControlName="departamentoInscripto" class="form-control is-valid" required>
                        <option value="">Seleccione un depto</option>
                        <option value="1">Capital</option>
                        <option value="2">Arauco</option>
                        <option value="3">Castro Barros</option>
                        <option value="4">Chamical</option>
                        <option value="5">Chilecito</option>
                        <option value="6">Coronel Felipe Varela</option>
                        <option value="7">Famatina</option>
                        <option value="8">General Ángel V. Peñaloza</option>
                        <option value="9">General Belgrano</option>
                        <option value="10">General Juan Facundo Quiroga</option>
                        <option value="11">General Lamadrid</option>
                        <option value="12">General Lamadrid</option>
                        <option value="13">General Ocampo</option>
                        <option value="14">General San Martín</option>
                        <option value="15">Independencia</option>
                        <option value="16">Rosario Vera Peñaloza</option>
                        <option value="17">San Blas de los Sauces</option>
                        <option value="18">Sanagasta</option>
                        <option value="19">Vinchina</option>
                    </select>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-4">
                    <label for="localidadInscripto">Localidad</label>
                    <select id="localidadInscripto" formControlName="localidadInscripto" class="form-control is-valid" required>
                        <option value="">Seleccione una localidad</option>
                        <option value="1">La Rioja</option>
                        <option value="2">Aimogasta</option>
                        <option value="3">Aminga</option>
                        <option value="4">Anillaco</option>
                        <option value="5">Chamical</option>
                        <option value="6">Chepes</option>
                        <option value="7">Chilecito</option>
                        <option value="8">Famatina</option>
                        <option value="9">Guandacol</option>
                        <option value="10">Olta</option>
                        <option value="11">Pagancillo</option>
                        <option value="12">Patquía</option>
                        <option value="13">Sanagasta</option>
                        <option value="14">San Blas de los Sauces</option>
                        <option value="15">Santa Teresita</option>
                        <option value="16">Tama</option>
                        <option value="17">Ulapes</option>
                        <option value="18">Villa Castelli</option>
                        <option value="19">Villa Unión</option>
                        <option value="20">Vinchina</option>
                    </select>
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            <h3>Datos del Nacimiento</h3>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="horaNacimiento">Horario de Nacimiento</label>
                    <input type="time" formControlName="horaNacimiento" class="form-control is-valid" id="horaNacimiento" required>
                    <div class="invalid-feedback">Ingrese la hora de nacimiento</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nombreObstetra">Nombre del Obstetra</label>
                    <input type="text" formControlName="nombreObstetra" class="form-control is-valid" id="nombreObstetra" placeholder="Ingrese el nombre" required>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-6">
                    <label for="apellidoObstetra">Apellido del Obstetra</label>
                    <input type="text" formControlName="apellidoObstetra" class="form-control is-valid" id="apellidoObstetra" placeholder="Ingrese el apellido" required>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-6">
                    <label for="clinica">Clínica / Hospital</label>
                    <input type="text" formControlName="clinica" class="form-control is-valid" id="clinica" placeholder="Ingrese el nombre de la clínica/hospital" required>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-6">
                    <label for="tipoClinica">Tipo</label>
                    <select id="tipoClinica" formControlName="tipoClinica" class="form-control is-valid" required>
                      <option value="">Seleccione pública/o o privada/o</option>
                      <option value="1">Pública</option>
                      <option value="2">Privada</option>
                  </select>
                    <div class="invalid-feedback">Elija el tipo de hospital o clínica</div>
                </div>
            </div>
            <h3>Datos de Madre/Padre</h3>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="dniMadre">DNI</label>
                    <input type="number" formControlName="dniMadre" class="form-control is-valid" id="dniMadre" placeholder="Sin puntos ni espacios" required>
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nombreMadre">Nombre/s</label>
                    <input type="text" formControlName="nombreMadre" class="form-control is-valid" id="nombreMadre" placeholder="Ingrese el nombre" required>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-6">
                    <label for="apellidoMadre">Apellido/s</label>
                    <input type="text" formControlName="apellidoMadre" class="form-control is-valid" id="apellidoMadre" placeholder="Ingrese el apellido" required>
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg">
                    <label for="barrioMadre">Barrio</label>
                    <input type="text" formControlName="barrioMadre" class="form-control is-valid" id="barrioMadre" placeholder="Ingrese el barrio" required>
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="calleMadre">Calle</label>
                    <input type="text" formControlName="calleMadre" class="form-control is-valid" id="calleMadre" placeholder="Ingrese la calle" required>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-4">
                    <label for="numCalleMadre">N°</label>
                    <input type="number" formControlName="numCalleMadre" class="form-control is-valid" id="numCalleMadre" placeholder="Ingrese el número de casa" required>
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg">
                    <label for="detallesDomicilioMadre">Detalles del Domicilio</label>
                    <textarea class="form-control is-valid" formControlName="detallesDomicilioMadre" id="detallesDomicilioMadre" placeholder="Ingrese Ninguno, si no hay detalles" required></textarea>
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            <h3>Datos de Madre/Padre</h3>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="dniPadre">DNI</label>
                    <input type="number" formControlName="dniPadre" class="form-control is-valid" id="dniPadre" placeholder="Sin puntos ni espacios" required>
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nombrePadre">Nombre/s</label>
                    <input type="text" formControlName="nombrePadre" class="form-control is-valid" id="nombrePadre" placeholder="Ingrese el nombre" required>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-6">
                    <label for="apellidoPadre">Apellido/s</label>
                    <input type="text" formControlName="apellidoPadre" class="form-control is-valid" id="apellidoPadre" placeholder="Ingrese el apellido" required>
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="barrioPadre">Barrio</label>
                    <input type="text" formControlName="barrioPadre" class="form-control is-valid" id="barrioPadre" placeholder="Ingrese el barrio" required>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-6">
                    <label for="callePadre">Calle</label>
                    <input type="text" formControlName="callePadre" class="form-control is-valid" id="callePadre" placeholder="Ingrese la calle" required>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-2">
                    <label for="numCallePadre">N°</label>
                    <input type="number" formControlName="numCallePadre" class="form-control is-valid" id="numCallePadre" placeholder="Ingrese el número de casa" required>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group col-lg">
                    <label for="detallesDomicilioPadre">Detalles del Domicilio</label>
                    <textarea class="form-control is-valid" formControlName="detallesDomicilioPadre" id="detallesDomicilioPadre" placeholder="Ingrese Ninguno, si no hay detalles" required></textarea>
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            <h3>Declarantes</h3>
            <div class="form-row">
                <div class="form-group col-lg">
                    <label for="declarantes">Declarantes del Acta de Nacimiento</label>
                    <textarea class="form-control is-valid" formControlName="declarantes" id="declarantes" required></textarea>
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            <h3>Archivos adjuntos</h3>
            <div class="form-group">
                <input type="file" class="form-control-file" multiple accept=".jpg, .png, .pdf, .jpeg">
            </div>
            <br>
            <hr>
            <button type="submit" class="btn btn2 text-uppercase">Cargar acta
                  <i class="fas fa-plus"></i>
            </button>
        </form>
    </div>
</div>
<footer class="footer"></footer>