.titulo {
    font-family: 'poppins';
    color: #C30A20;
    font-size: 30px;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-top: 50px;
}

.btn {
    font-family: 'poppins';
    font-size: 15px;
    font-weight: 500;
    height: auto;
    width: auto;
    padding: 12px;
}

.form-group label {
    font-family: 'poppins';
    font-weight: 600;
    font-size: 14px;
    color: #616161;
}

.form-control {
    font-size: 14px;
    font-weight: 300;
    font-family: 'poppins';
    height: 2.5rem !important;
    border-radius: 2rem !important;
}

label {
    font-family: 'poppins';
    font-size: 15px;
    margin-left: 5px;
    color: #7A7A7A;
}

.input-group input:focus {
    box-shadow: none;
}

.input-group-append button:focus {
    box-shadow: none;
}

.form-control:focus {
    box-shadow: none;
}

.invalid-feedback {
    margin-left: 5px !important;
    font-size: 14px;
}

.btn1 {
    background-color: #7A7A7A !important;
    border-radius: 0.8rem !important;
    color: white;
    margin-right: 20px;
    margin-left: 50%;
    height: auto;
    transform: translateX(-50%);
}

.btn2 {
    background-color: #C30A20 !important;
    border-radius: 0.8rem !important;
    color: white;
    margin-left: 20px;
    margin-left: 50%;
    margin-top: 30px;
    height: auto;
    transform: translateX(-50%);
}

.carga {
    position: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

button {
    margin-top: 15px;
}

h3 {
    font-family: 'poppins';
    font-size: 18px;
    color: #8f0202d7;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 700;
}

.fas {
    margin-left: 10px;
}

.txt-modal {
    font-size: 20px;
    font-family: 'poppins';
    color: #C30A20;
    font-weight: bold;
    text-align: center;
    align-items: center;
    margin-top: 12px;
}