.titulo {
    font-family: 'poppins';
    color: #C30A20;
    font-size: 30px;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-top: 20px;
    user-select: none;
}

.editar {
    margin-top: 20px;
    position: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.volver {
    font-family: 'poppins';
    color: #616161;
    box-shadow: none !important;
    margin-top: 10px;
}

.btn-guardar {
    font-family: 'poppins';
    font-size: 15px;
    font-weight: 500;
    height: auto;
    width: auto;
    padding: 12px;
    margin-top: 15px;
}

.form-group label {
    font-family: 'poppins';
    font-weight: 600;
    font-size: 14px;
    color: #616161;
}

.form-control {
    font-size: 14px;
    font-weight: 300;
    font-family: 'poppins';
    height: 2.5rem !important;
    border-radius: 2rem !important;
}

label {
    font-family: 'poppins';
    font-size: 15px;
    margin-left: 5px;
    color: #7A7A7A;
}

.btn2 {
    background-color: #C30A20 !important;
    border-radius: 0.8rem !important;
    color: white;
    margin-left: 20px;
    margin-left: 50%;
    margin-top: 30px;
    height: auto;
    transform: translateX(-50%);
}

h3 {
    font-family: 'poppins';
    font-size: 18px;
    color: #8f0202d7;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 700;
    user-select: none;
}

.fa-save {
    margin-left: 10px;
}

label {
    user-select: none;
}

.fa-long-arrow-alt-left {
    margin-right: 10px;
}