<div class="container">
    <div class="empleados">
        <button [routerLink]="['/admin']" class="btn volver"><i class="fas fa-long-arrow-alt-left"></i>Volver</button>
        <h1 class="titulo">Editar Empleado/a</h1>
        <form [formGroup]="formularioDeEmpleados" (ngSubmit)="enviarDatos()">
            <div class="form-row">
                <div class="form-group col-lg">
                    <label for="dni" class="form-label">DNI</label>
                    <input type="number" formControlName="dni" class="form-control" id="dni" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nombre" class="form-label">Nombre/s</label>
                    <input type="text" formControlName="nombre" class="form-control" id="nombre" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="apellido">Apellido/s</label>
                    <input type="text" formControlName="apellido" class="form-control" id="apellido" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="fechaNacimiento">Fecha de Nacimiento</label>
                    <input type="date" formControlName="fechaNacimiento" class="form-control" id="fechaNacimiento" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="idSectorTrabajo">Sector de trabajo</label>
                    <select id="idSectorTrabajo" formControlName="idSectorTrabajo" class="form-control" required>
                        <option value="1">Encargado del Archivo</option>
                        <option value="2">Empleado del Archivo</option>
                        <option value="3">Atención al público</option>
                        <option value="4">Empleado de Digitalización</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="mail" class="form-label">Mail</label>
                    <input type="email" formControlName="mail" class="form-control" id="mail" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="contrasenia" class="form-label">Contraseña</label>
                    <input type="text" formControlName="contrasenia" class="form-control" id="contrasenia" required>
                </div>
            </div>
            <div class="container-2">
                <button type="submit" class="btn btn-primary btns text-uppercase">Guardar
                <i class="fas fa-save"></i>
            </button>
            </div>
        </form>
    </div>
</div>
<footer class="footer"></footer>