<div class="container">
    <div class="empleados">
        <h1 class="titulo">Editar Empleados</h1>
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="dni">DNI</label>
                    <input type="number" class="form-control" id="dni" value="40775265">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nombre">Nombre/s</label>
                    <input type="text" class="form-control" id="nombre" value="Lourdes del Mar">
                </div>
                <div class="form-group col-md-6">
                    <label for="apellido">Apellido/s</label>
                    <input type="text" class="form-control" id="apellido" value="Lede">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="fechaNacimiento">Fecha de Nacimiento</label>
                    <input type="date" class="form-control" id="fechaNacimiento" value="17/02/1998">
                </div>
                <div class="form-group col-md-6">
                    <label for="sectorTrabajo">Sector de trabajo</label>
                    <select id="sectorTrabajo" class="form-control">
                                <option value="1">Archivo del Registro Civil</option>
                                <option value="2">Atención al público</option>
                                <option value="3">Digitalización de actas</option>
                            </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="mail">Mail</label>
                    <input type="email" class="form-control" id="mail" value="lourdeslede17@gmail.com">
                </div>
                <div class="form-group col-md-6">
                    <label for="contraseña">Contraseña</label>
                    <input type="text" class="form-control" id="contraseña" value="*************">
                </div>
            </div>
        </form>
    </div>
    <div class="container-2">
        <button class="btn btn-primary btns text-uppercase">Guardar
            <i class="fas fa-save"></i>
    </button>
    </div>
</div>