<div class="container">
    <div class="empleados">
        <h1 class="titulo">Editar Empleados</h1>
        <form [formGroup]="formularioDeEmpleados">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="dni">DNI</label>
                    <input type="number" formControlName="dni" class="form-control" id="dni">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nombre">Nombre/s</label>
                    <input type="text" formControlName="nombre" class="form-control" id="nombre">
                </div>
                <div class="form-group col-md-6">
                    <label for="apellido">Apellido/s</label>
                    <input type="text" formControlName="apellido" class="form-control" id="apellido">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="fechaNacimiento">Fecha de Nacimiento</label>
                    <input type="date" formControlName="fechaNacimiento" class="form-control" id="fechaNacimiento">
                </div>
                <div class="form-group col-md-6">
                    <label for="sectorTrabajo">Sector de trabajo</label>
                    <select id="sectorTrabajo" formControlName="sectorTrabajo" class="form-control">
                                <option>Archivo del Registro Civil</option>
                                <option>Atención al público</option>
                                <option>Digitalización de actas</option>
                            </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="mail">Mail</label>
                    <input type="email" formControlName="mail" class="form-control" id="mail">
                </div>
                <div class="form-group col-md-6">
                    <label for="contraseña">Contraseña</label>
                    <input type="text" formControlName="contraseña" class="form-control" id="contraseña">
                </div>
            </div>
            <div class="container-2">
                <button class="btn btn-primary btns text-uppercase">Guardar
                    <i class="fas fa-save"></i>
            </button>
            </div>
        </form>
    </div>
</div>