<div>
    <div class="busqueda">
      <form class="form-control-lg">
        <input class="form-control" type="text" placeholder="Buscar acta de nacimiento">
        <a href="#"><i class="fas fa-search"></i></a>
      </form>
      <div class="container">
        <div class="col-sm-12">
          <div class="input-group">
            <div class="input-group-btn">
              <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"><span class="label-icon">Category</span> <span
                  class="caret">&nbsp;</span>
              </button>
              <div class="dropdown-menu">
                <ul class="category_filters">
                  <li>
                    <input class="cat_type category-input" data-label="All" id="all" value="" name="radios"
                      type="radio"><label for="all">All</label>
                  </li>
                  <li>
                    <input type="radio" name="radios" id="Design" value="Design"><label class="category-label"
                      for="Design">Design</label>
                  </li>
                  <li>
                    <input type="radio" name="radios" id="Marketing" value="Marketing"><label class="category-label"
                      for="Marketing">Marketing</label>
                  </li>
                  <li>
                    <input type="radio" name="radios" id="Programming" value="Programming"><label class="category-label"
                      for="Programming">Programming</label>
                  </li>
                  <li>
                    <input type="radio" name="radios" id="Sales" value="Sales"><label class="category-label"
                      for="Sales">Sales</label>
                  </li>
                  <li>
                    <input type="radio" name="radios" id="Support" value="Support"><label class="category-label"
                      for="Support">Support</label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="card">
        <div class="card-header">Lede, Lourdes del Mar</div>
        <div class="card-body">
          <h4 class="card-title">40.775.265</h4>
          <h4 class="card-title">17/02/1998</h4>
          <h4 class="card-title">La Rioja, Capital</h4>
        </div>
      </div>
    </div>
  </div>