<div class="container">
    <div class="busqueda">
        <h1 class="titulo text-center">Buscar actas</h1>
        <div class="bg-light rounded rounded-pill shadow-sm">
            <div class="input-group">
                <input type="text" [(ngModel)]="busqueda" class="form-control border-0 bg-light" placeholder="Buscar por nombre, apellido, dni, fecha o lugar de nacimiento..." aria-describedby="button-addon1">
            </div>
        </div>
        <div class="card" *ngFor="let acta of Actas | filter:busqueda ; let iControl=index">
            <div class="card-header">{{ acta.apellido_inscripto }}, {{ acta.nombre_inscripto }} </div>
            <div class="card-body">
                <h4 class="card-title">DNI: {{ acta.dni_inscripto }} </h4>
                <h4 class="card-title">Fecha de Nacimiento: {{ acta.fecha_nacimiento_inscripto }} </h4>
                <h4 class="card-title">Lugar de Nacimiento: {{acta.nombre_localidad}}</h4>
                <div class="botones">
                    <a routerLink="/busqueda/ver-acta/{{acta.id_acta}}"><button class="btn btn1 btn-primary btns text-uppercase"><i class="fas fa-eye"></i>Ver</button></a>
                    <a routerLink="/busqueda/editar-acta/{{acta.id_acta}}"><button class="btn btn-primary btns text-uppercase"><i class="fas fa-user-edit"></i>Editar</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer"></footer>