<div class="container">
    <h1 class="titulo text-center">Buscar actas</h1>
    <div class="busqueda">
        <div class="bg-light rounded rounded-pill shadow-sm">
            <div class="dropdown dropdown-lg d-flex input-group-append">
                <button type="button" class="btn gris dropdown-toggle ml-auto" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-filter"></i></button>
                <div class="dropdown-menu dropdown-menu-lg-right" role="menu">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="filter">Filtrar por</label>
                            <select class="form-control">
                                <option value="0">Nombre</option>
                                <option value="1">Apellido</option>
                                <option value="2">DNI</option>
                                <option value="3">Fecha Nacimiento</option>
                                <option value="4">Lugar Nacimiento</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control border-0 bg-light" placeholder="Buscar..." aria-describedby="button-addon1">
                    <div class="input-group-append">
                        <button id="button-addon1" type="submit" class="btn text-primary"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card -->
        <div class="card" *ngFor="let acta of Actas; let iControl=index">
            <div class="card-header">{{ acta.apellido_inscripto }}, {{ acta.nombre_inscripto }} </div>
            <div class="card-body">
                <h4 class="card-title">DNI: {{ acta.dni_inscripto }} </h4>
                <h4 class="card-title">Fecha de Nacimiento: {{ acta.fecha_nacimiento_inscripto }} </h4>
                <h4 class="card-title">Lugar de Nacimiento: {{ acta.nombre_provincia }}, {{acta.nombre_departamento}} </h4>
                <div class="botones">
                    <button class="btn btn1 btn-primary btns text-uppercase" data-toggle="modal" data-target="#id_acta">
                        <i class="fas fa-eye"></i>
                        Ver
                    </button>
                    <button class="btn btn-primary btns text-uppercase" data-toggle="modal" data-target="#editar-acta-lourdes">
                        <i class="fas fa-user-edit"></i>
                        Editar
                    </button>
                </div>
            </div>
        </div>
        <!-- Modal Ver -->
        <div *ngFor="let acta of Actas; let iControl=index">
            <div class="modal fade" id="{{acta.id_acta}}" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLongTitle">Ver Acta</h5>
                            <button type="button" class="close btn btn-cerrar" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="fas fa-times"></i>
                    </button>
                        </div>
                        <div class="modal-body">
                            <ul class="list-inline">
                                <h1 class="titulo-lista">Acta de Nacimiento</h1>
                                <li class="item list-group-item-borderless"><strong>Tomo N°: </strong> {{ acta.num_tomo }}</li>
                                <li class="item list-group-item-borderless"><strong>Acta N°: </strong> {{ acta.num_acta }}</li>
                                <li class="item list-group-item-borderless"><strong>Año: </strong> {{ acta.anio_acta}}</li>
                                <li class="item list-group-item-borderless"><strong>Lomo: </strong> {{ acta.lomo_acta}}</li>
                                <li class="item list-group-item-borderless"><strong>Delegación: </strong> {{ acta.delegacion}}</li>
                            </ul>
                            <ul class="list-inline">
                                <li class="item-a list-group-item-borderless">
                                    <a href="assets/pdf/partida_lourdes.pdf" target="_blank">
                                        <i class="fas fa-eye"></i> VER
                                    </a>
                                </li>
                            </ul>
                            <hr>
                            <ul class="list-inline">
                                <h1 class="titulo-lista">Datos del Inscripto</h1>
                                <li class="item list-group-item-borderless"><strong>DNI: </strong> {{ acta.dni_inscripto }}</li>
                                <li class="item list-group-item-borderless"><strong>Sexo: </strong> {{ acta.nombre_sexo }}</li>
                                <li class="item list-group-item-borderless"><strong>Nombre y Apellido: </strong> {{ acta.nombre_inscripto }} {{ acta.apellido_inscripto }}</li>
                                <li class="item list-group-item-borderless"><strong>Fecha de Nacimiento: </strong> {{ acta.fecha_nacimiento_inscripto }}</li>
                                <li class="item list-group-item-borderless"><strong>Fecha de Inscripción: </strong> {{ acta.fecha_inscripcion }} </li>
                                <li class="item list-group-item-borderless"><strong>Provincia: </strong> {{ acta.nombre_provincia }} </li>
                                <li class="item list-group-item-borderless"><strong>Departamento: </strong> {{ acta.nombre_departamento }} </li>
                                <li class="item list-group-item-borderless"><strong>Localidad: </strong> {{ acta.nombre_localidad }} </li>
                            </ul>
                            <hr>
                            <ul class="list-inline">
                                <h1 class="titulo-lista">Datos del Nacimiento</h1>
                                <li class="item list-group-item-borderless"><strong>Obstetra: </strong> Dra. Alejandra de Poledri</li>
                                <li class="item list-group-item-borderless"><strong>Hora de Nacimiento: </strong> 09:40hs</li>
                                <li class="item list-group-item-borderless"><strong>Clínica/Hospital: </strong> Centro Privado de Maternidad y Ginecología</li>
                                <li class="item list-group-item-borderless"><strong>Tipo de Clínica/Hospital: </strong> Privada</li>
                            </ul>
                            <hr>
                            <ul class="list-inline">
                                <h1 class="titulo-lista">Datos de Madre/Padre</h1>
                                <li class="item list-group-item-borderless"><strong>DNI: </strong> 23.670.990</li>
                                <li class="item list-group-item-borderless"><strong>Nombre y Apellido: </strong> Ángel Gustavo Lede</li>
                                <li class="item list-group-item-borderless"><strong>Domicilio: </strong> Joaquín V. González 655 - Monoblock B Depto 18</li>
                            </ul>
                            <hr>
                            <ul class="list-inline">
                                <h1 class="titulo-lista">Datos de Madre/Padre</h1>
                                <li class="item list-group-item-borderless"><strong>DNI: </strong> 23.963.589</li>
                                <li class="item list-group-item-borderless"><strong>Nombre y Apellido: </strong> Susana Estela Mansilla Kukulis</li>
                                <li class="item list-group-item-borderless"><strong>Domicilio: </strong> Joaquín V. González 655 - Monoblock B Depto 18</li>
                            </ul>
                            <hr>
                            <ul class="list-inline">
                                <h1 class="titulo-lista">Declarantes</h1>
                                <li class="item list-group-item-borderless"><strong>Padre y Madre</strong></li>
                            </ul>
                            <hr>
                            <ul class="list-inline">
                                <h1 class="titulo-lista">Observaciones</h1>
                                <li class="item list-group-item-borderless"><strong>Ninguna</strong></li>
                            </ul>
                            <hr>
                            <ul class="list-inline">
                                <li class="item list-group-item-borderless">
                                    <a href="assets/pdf/MODELO ACTA DIGITAL.pdf" download="Acta-Digital-Lede">
                                        <i class="fas fa-download"></i> DESCARGAR ACTA DIGITAL
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Editar -->
        <div class="modal fade" id="editar-acta-lourdes" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLongTitle">Editar</h5>
                        <button type="button" class="close btn btn-cerrar" data-dismiss="modal" aria-label="Close">
                            <i aria-hidden="true" class="fas fa-times"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <h1 class="titulo-lista-2">Acta de Nacimiento</h1>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="tomo">Tomo N°</label>
                                    <input type="number" class="form-control" id="tomo" value="300">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="acta">Acta N°</label>
                                    <input type="number" class="form-control" id="acta" value="481">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="año">Año</label>
                                    <input type="number" class="form-control" id="año" value="1998">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="lomo">Lomo</label>
                                    <input type="text" class="form-control" id="lomo" value="-">
                                </div>
                                <div class="form-group col-md-8">
                                    <label for="delegacion">Delegación</label>
                                    <input type="text" class="form-control" id="delegacion" value="-">
                                </div>
                            </div>
                            <hr>
                            <h1 class="titulo-lista-2">Datos del Inscripto</h1>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="dni">DNI</label>
                                    <input type="text" class="form-control" id="dni" value="40.775.265">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="sexo">Sexo</label>
                                    <select id="sexo" class="form-control">
                                      <option value="1">Femenino</option>
                                      <option value="2">Masculino</option>
                                      <option value="3">X</option>
                                  </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="nombre">Nombre/s</label>
                                    <input type="text" class="form-control" id="nombre" value="Lourdes del Mar">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="apellido">Apellido/s</label>
                                    <input type="text" class="form-control" id="apellido" value="Lede">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="fechaNacimiento">Fecha de Nacimiento</label>
                                    <input type="date" class="form-control" id="fechaNacimiento" value="1998-02-17">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="fechaInscripcion">Fecha de Inscripción</label>
                                    <input type="date" class="form-control" id="fechaNacimiento" value="1998-03-25">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="provincia">Provincia</label>
                                    <select id="provincia" class="form-control">
                                        <option value="">Ej. La Rioja</option>
                                        <option value="1">La Rioja</option>
                                        <option value="2">Buenos Aires</option>
                                        <option value="3">Capital Federal</option>
                                        <option value="4">Catamarca</option>
                                        <option value="5">Chaco</option>
                                        <option value="6">Chubut</option>
                                        <option value="7">Córdoba</option>
                                        <option value="8">Corrientes</option>
                                        <option value="9">Entre Ríos</option>
                                        <option value="10">Formosa</option>
                                        <option value="11">Jujuy</option>
                                        <option value="12">La Pampa</option>
                                        <option value="13">Mendoza</option>
                                        <option value="14">Misiones</option>
                                        <option value="15">Neuquén</option>
                                        <option value="16">Río Negro</option>
                                        <option value="17">Salta</option>
                                        <option value="18">San Juan</option>
                                        <option value="19">San Luis</option>
                                        <option value="20">Santa Cruz</option>
                                        <option value="21">Santa Fé</option>
                                        <option value="22">Santiago del Estero</option>
                                        <option value="23">Tierra del Fuego</option>
                                        <option value="24">Tucumán</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="departamento">Departamento</label>
                                    <select id="departamento" class="form-control"> 
                                        <option value="">Ej. Capital</option>
                                        <option value="1">Capital</option>
                                        <option value="2">Arauco</option>
                                        <option value="3">Castro Barros</option>
                                        <option value="4">Chamical</option>
                                        <option value="5">Chilecito</option>
                                        <option value="6">Coronel Felipe Varela</option>
                                        <option value="7">Famatina</option>
                                        <option value="8">General Ángel V. Peñaloza</option>
                                        <option value="9">General Belgrano</option>
                                        <option value="10">General Juan Facundo Quiroga</option>
                                        <option value="11">General Lamadrid</option>
                                        <option value="12">General Lamadrid</option>
                                        <option value="13">General Ocampo</option>
                                        <option value="14">General San Martín</option>
                                        <option value="15">Independencia</option>
                                        <option value="16">Rosario Vera Peñaloza</option>
                                        <option value="17">San Blas de los Sauces</option>
                                        <option value="18">Sanagasta</option>
                                        <option value="19">Vinchina</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="localidad">Localidad</label>
                                    <select id="localidad" class="form-control">
                                        <option value="">Ej. La Rioja</option>
                                        <option value="1">La Rioja</option>
                                        <option value="2">Aimogasta</option>
                                        <option value="3">Aminga</option>
                                        <option value="4">Anillaco</option>
                                        <option value="5">Chamical</option>
                                        <option value="6">Chepes</option>
                                        <option value="7">Chilecito</option>
                                        <option value="8">Famatina</option>
                                        <option value="9">Guandacol</option>
                                        <option value="10">Olta</option>
                                        <option value="11">Pagancillo</option>
                                        <option value="12">Patquía</option>
                                        <option value="13">Sanagasta</option>
                                        <option value="14">San Blas de los Sauces</option>
                                        <option value="15">Santa Teresita</option>
                                        <option value="16">Tama</option>
                                        <option value="17">Ulapes</option>
                                        <option value="18">Villa Castelli</option>
                                        <option value="19">Villa Unión</option>
                                        <option value="20">Vinchina</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <h1 class="titulo-lista-2">Datos del Nacimiento</h1>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="horaNacimiento">Horario de Nacimiento</label>
                                    <input type="time" class="form-control" id="horaNacimiento" value="09:40">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="nombre">Nombre/s Obstetra</label>
                                    <input type="text" class="form-control" id="nombre" value="Alejandra">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="apellido">Apellido/s Obstetra</label>
                                    <input type="text" class="form-control" id="apellido" value="de Poledri">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="clinica">Clínica/Hospital</label>
                                    <select id="clinica" class="form-control">
                                      <option value="1">Centro Privado de Maternidad y Ginecología</option>
                                      <option value="2">Hospital de la Madre y el Niño</option>
                                      <option value="3">Hospital Vera Barros</option>
                                  </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="tipoClinica">Tipo de Clínica/Hospital</label>
                                    <select id="tipoClinica" class="form-control">
                                      <option value="1">Privada</option>
                                      <option value="2">Pública</option>
                                  </select>
                                </div>
                            </div>
                            <hr>
                            <h1 class="titulo-lista-2">Datos de Madre/Padre</h1>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="dni">DNI</label>
                                    <input type="text" class="form-control" id="dni" value="23.670.990">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="nombre">Nombre/s</label>
                                    <input type="text" class="form-control" id="nombre" value="Ángel Gustavo">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="apellido">Apellido/s</label>
                                    <input type="text" class="form-control" id="apellido" value="Lede">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-lg">
                                    <label for="barrio">Barrio</label>
                                    <input type="text" class="form-control" id="barrio" value="Centro">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <label for="calle">Calle</label>
                                    <input type="text" class="form-control" id="calle" value="Joaquín V. González">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="numcalle">N°</label>
                                    <input type="number" class="form-control" id="numcalle" value="655">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="observaciones">Detalles del Domicilio</label>
                                <textarea class="form-control" id="observaciones">Monoblock B Depto 18</textarea>
                            </div>
                            <hr>
                            <h1 class="titulo-lista-2">Datos de Madre/Padre</h1>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="dni">DNI</label>
                                    <input type="text" class="form-control" id="dni" value="23.963.589">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="nombre">Nombre/s</label>
                                    <input type="text" class="form-control" id="nombre" value="Susana Estela">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="apellido">Apellido/s</label>
                                    <input type="text" class="form-control" id="apellido" value="Mansilla Kukulis">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-lg">
                                    <label for="barrio">Barrio</label>
                                    <input type="text" class="form-control" id="barrio" value="Centro">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <label for="calle">Calle</label>
                                    <input type="text" class="form-control" id="calle" value="Joaquín V. González">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="numcalle">N°</label>
                                    <input type="number" class="form-control" id="numcalle" value="655">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="observaciones">Detalles del Domicilio</label>
                                <textarea class="form-control" id="observaciones">Monoblock B Depto 18</textarea>
                            </div>
                            <hr>
                            <h1 class="titulo-lista-2">Declarantes</h1>
                            <div class="form-group">
                                <textarea class="form-control">Padre y Madre</textarea>
                            </div>
                            <hr>
                            <h1 class="titulo-lista-2">Observaciones</h1>
                            <div class="form-group">
                                <textarea class="form-control"></textarea>
                            </div>
                            <hr>
                            <h1 class="titulo-lista-2">Archivos Adjuntos</h1>
                            <div class="form-group archivos">
                                <a href="assets/pdf/MODELO ACTA DIGITAL.pdf" target="_blank">Acta</a>
                                <a href="assets/pdf/partida de nacimiento.pdf" target="_blank">Partida</a>
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="file" class="form-control-file" multiple>
                            </div>
                            <hr>
                            <button type="button" class="btn btn-guardar" data-dismiss="modal" type="submit">Guardar Cambios
                                <i class="fas fa-save"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer"></footer>