.titulo {
    font-family: 'poppins';
    color: #C30A20;
    font-size: 30px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-top: 50px;
}

.txt {
    font-family: 'poppins';
    color: #C30A20;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 14px;
}

input {
    font-size: 14px;
    font-weight: 300;
}

.form-group {
    display: block;
}

i {
    color: #a7a7a7;
    position: absolute;
    right: 20px;
    top: 12px;
}

.busqueda {
    position: relative;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

.form-control {
    font-family: 'poppins';
    height: 2.5rem !important;
    border-radius: 2rem !important;
    box-shadow: 0.5rem 0.5rem 1rem 0.1rem rgb(226, 226, 226);
}

.table {
    font-size: 15px;
    font-family: 'poppins';
    color: #7a7a7a;
    text-align: center;
}

.tabla th {
    background-color: #C30A20;
    color: white;
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
}

.tabla td {
    vertical-align: middle;
}

.txt-left {
    text-align: left !important;
}

.table-hover {
    color: #af4953;
}