<div class="container">
    <div class="empleados">
        <h1 class="titulo">¿Eliminar Empleado?</h1>
        <form class="was-validated">
            <div class="form-group col-lg">
                <label for="contra" class="form-label">Introduzca su contraseña para eliminar el usuario</label>
                <input type="password" class="form-control is-valid" id="contra" required>
                <div class="invalid-feedback">
                    Escriba una contraseña
                </div>
            </div>
        </form>
    </div>
    <div class="container-2">
        <button class="btn btn-primary btns text-uppercase">Borrar
            <i class="fas fa-trash"></i>
    </button>
    </div>
</div>