<div class="container">
    <h1 class="titulo">Olvidé mi contraseña</h1>
    <div class="form form-group">
        <label for="preg-seg-1">Seleccione su pregunta de seguridad</label>
        <select class="form-control" id="preg-seg-1">
          <option>¿En qué año ingresó a trabajar en el Registro Civil?</option>
          <option>¿Cómo se llamaba la primer escuela a la que asistió?</option>
          <option>¿Cuál es el lugar de nacimiento de su madre?</option>
          <option>¿Cuál es el lugar de nacimiento de su padre?</option>
          <option>¿Quién es su mejor amigo de la infancia?</option>
          <option>¿Cuál es el nombre de su primer mascota?</option>
        </select>
    </div>
    <div class="form form-label-group">
        <label for="resp-preg-seg-1">Escriba su respuesta</label>
        <input class="form-control" id="resp-preg-seg-1">
    </div>
    <button class="col-lg-2 mx-auto pull-right my-5 btn btn-block btn-primary btn-ingresar text-uppercase" type="submit"
    [routerLink]="['/olvide-contra-3']">Continuar</button>
</div>