.logo {
    width: 60%;
    display: block;
    margin: 10px auto;
}

.btn-ingresar {
    font-size: 15px;
    font-family: "poppins light";
    height: 3rem;
    margin-top: 20px;
}

h3 {
    font-family: 'poppins';
    font-size: 15px;
    color: #616161;
    font-weight: 700;
    margin-top: 30px;
    user-select: none;
    text-align: center;
}

h4 {
    font-family: 'poppins';
    font-weight: lighter;
    font-size: 12px;
    color: #a1a1a1;
    font-weight: 700;
    user-select: none;
    text-align: center;
}