.logo{
    width: 60%;
    display: block;
    margin: 20px auto;
  }
.btn-pass{
  font-size: 14px;
  font-family: 'poppins regular';
  color: #C30A20;
}
.center{
  margin: 10px auto;
  text-align: center;
  }
.btn-ingresar{
  font-size: 15px;
  font-family: "poppins light";
  height: 3rem;
}
.btn-registrar{
  font-size: 18px;
  font-family: "poppins";
  font-weight: bold;
  height: 2.5rem;
  color: #C30A20;
}
.icon-div {
  position: relative;
}
i {
  color: #a7a7a7;
  position: absolute;
  right: 25px;
  top: 15px;
}