<div class="container">
    <div class="empleados">
        <button [routerLink]="['/admin']" class="btn volver"><i class="fas fa-long-arrow-alt-left"></i>Volver</button>
        <h1 class="titulo">Cargar Empleados</h1>
        <form [formGroup]="formularioDeEmpleados" class="was-validated" (ngSubmit)="enviarDatos()">
            <div class="form-row">
                <div class="form-group col-lg">
                    <label for="dni" class="form-label">DNI</label>
                    <input type="number" formControlName="dni" class="form-control is-valid" id="dni" placeholder="Sin puntos ni espacios" required>
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nombre" class="form-label">Nombre/s</label>
                    <input type="text" formControlName="nombre" class="form-control is-valid" id="nombre" placeholder="Ingrese un nombre" required>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-6">
                    <label for="apellido">Apellido/s</label>
                    <input type="text" formControlName="apellido" class="form-control is-valid" id="apellido" placeholder="Ingrese un apellido" required>
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="fechaNacimiento">Fecha de Nacimiento</label>
                    <input type="date" formControlName="fechaNacimiento" class="form-control is-valid" id="fechaNacimiento" required>
                    <div class="invalid-feedback">Elija una fecha de nacimiento</div>
                </div>
                <div class="form-group col-md-6">
                    <label for="sectorTrabajo">Sector de trabajo</label>
                    <select id="sectorTrabajo" formControlName="sectorTrabajo" class="form-control is-valid" required>
                        <option value="" [disabled]="true">Seleccione un sector de trabajo</option>
                        <option value="1">Encargado del Archivo</option>
                        <option value="2">Empleado del Archivo</option>
                        <option value="3">Atención al público</option>
                        <option value="4">Empleado de Digitalización</option>
                    </select>
                    <div class="invalid-feedback">Elija un sector de trabajo</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="mail" class="form-label">Mail</label>
                    <input type="email" formControlName="mail" class="form-control is-valid" id="mail" placeholder="Ingrese un mail válido" required>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-6">
                    <label for="contrasenia" class="form-label">Contraseña</label>
                    <input type="text" formControlName="contrasenia" class="form-control is-valid" id="contrasenia" placeholder="Utilice mayúsculas, minúsculas y números" required>
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            <div class="container-2">
                <button type="submit" class="btn btn-primary btns text-uppercase">Cargar
                <i class="fas fa-plus"></i>
            </button>
            </div>
        </form>
    </div>
</div>
<footer class="footer"></footer>