.empleados {
    position: relative;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.volver {
    font-family: 'poppins';
    color: #616161;
    box-shadow: none !important;
}

.titulo {
    font-family: 'poppins';
    color: #C30A20;
    font-size: 30px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    user-select: none;
}

form {
    user-select: none;
}

.form-control {
    font-size: 14px;
    font-weight: 300;
    font-family: 'poppins';
    height: 2.5rem !important;
    border-radius: 2rem !important;
}

.form-group label {
    font-family: 'poppins';
    font-weight: 600;
    font-size: 14px;
    color: #616161;
}

label {
    font-family: 'poppins';
    font-size: 15px;
    margin-left: 5px;
    color: #7A7A7A;
}

.input-group input:focus {
    box-shadow: none;
}

.input-group-append button:focus {
    box-shadow: none;
}

.form-control:focus {
    box-shadow: none;
}

.invalid-feedback {
    margin-left: 5px !important;
    font-size: 12px;
}

.btns {
    font-size: 16px;
    font-family: "poppins light";
    height: 3rem;
    display: block;
    margin: auto;
    margin-top: 20px;
}

.container-2 {
    margin-top: 20px;
    display: block;
    align-items: center;
    justify-content: center;
}

.fa-plus {
    margin-left: 10px;
}

.fa-long-arrow-alt-left {
    margin-right: 10px;
}