.logo{
    width: 6%;
    margin-right: 30px;
    margin-left: 20px;
    border: none;
    outline: none;
}
.nav-link{
    font-family: "poppins light";
    font-size: 15px;
}

.nav-item{
    margin-right: 25px;
}