.logo {
    width: 60px;
    max-width: 100%;
    margin-right: 30px;
    margin-left: 20px;
    border: none;
    outline: none;
}

.nav-link {
    font-family: "poppins light";
    font-size: 15px;
}

.nav-item {
    margin-right: 25px;
}

.btn-group {
    font-family: 'poppins';
    align-items: center;
    color: white;
}

i {
    color: white;
}

.fa-caret-down {
    margin-left: 10px;
}

.nav-item-2 {
    margin-right: 10px;
}

.fa-pen,
.fa-folder-open,
.fa-sign-out-alt {
    color: #7A7A7A;
    margin-right: 7px;
}

.dropdown-item {
    color: #7A7A7A;
    font-size: 15px;
    cursor: pointer;
}

.modal-footer {
    align-items: center;
    justify-content: center;
}