<div class="mx-auto">
    <nav class="navbar navbar-expand-lg navbar-dark" *ngIf="isUser || isAdmin">
        <img class="logo" src="assets/img/logo2.png" alt="ActaData" style="cursor: pointer;" [routerLink]="['/inicio']">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/inicio']">Inicio</a>
                </li>
                <li class="nav-item-2" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['admin']" *ngIf="isAdmin">Empleados</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/carga-actas']" *ngIf="isUser">Cargar</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/busqueda']" *ngIf="isUser">Buscar</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/mis-cargas']" *ngIf="isUser">Ver mis cargas</a>
                </li>
            </ul>
            <div class="btn-group">
                <i class="fas fa-user-circle fa-2x" data-toggle="dropdown"></i>
                <i class="fas fa-caret-down fa-xs" data-toggle="dropdown"></i>
                <ul class="dropdown-menu dropdown-menu-lg-right" role="menu">
                    <li><a class="dropdown-item" [routerLink]="['/mis-cargas']" *ngIf="isUser"><i class="fas fa-folder-open"></i>Mis Cargas</a></li>
                    <hr class="my-2" *ngIf="isUser">
                    <li><a class="dropdown-item" (click)="logout()" data-toggle="modal" data-target="#modalCerrarSesion"><i class="fas fa-sign-out-alt"></i>Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>