<div class="container">
    <div class="empleados">
        <h1 class="titulo">Empleados</h1>
        <div class="btn-cargar">
            <button class="btn btn-primary btns text-uppercase" [routerLink]="['/admin/agregar-empleado']">Cargar
            <i class="fas fa-plus"></i>
            </button>
        </div>
        <div class="bg-light rounded rounded-pill shadow-sm">
            <div class="input-group">
                <input type="text" [(ngModel)]="busqueda" class="form-control border-0 bg-light" placeholder="Buscar por nombre, apellido, dni, fecha o lugar de nacimiento..." aria-describedby="button-addon1">
            </div>
        </div>
        <div class="tabla table-responsive align-middle">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="text-uppercase" style="width:15%;">DNI</th>
                        <th class="text-uppercase" style="width:15%;">Nombre</th>
                        <th class="text-uppercase" style="width:15%;">Apellido</th>
                        <th style="width:10%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let empleado of Empleados | filter:busqueda ; let iControl=index">
                        <td class="item">{{ empleado.dni_empleado }}</td>
                        <td class="item">{{ empleado.nombre_empleado }}</td>
                        <td class="item">{{ empleado.apellido_empleado }}</td>
                        <td>
                            <a routerLink="/admin/editar-empleado/{{empleado.id_empleado}}"><button class="btn btn-general btn2"><i class="fas fa-user-edit"></i></button></a>
                            <a (click)="borrarRegistro(empleado.id_empleado, iControl)"><button class="btn btn-general btn1"><i class="fas fa-trash"></i></button></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer class="footer"></footer>