.titulo {
    font-family: 'poppins';
    color: #C30A20;
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-top: 50px;
}

.empleados {
    position: relative;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.txt {
    font-family: 'poppins';
    color: #C30A20;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 14px;
}

.form-control {
    font-size: 14px;
    font-weight: 300;
    font-family: 'poppins';
    height: 2.5rem !important;
    border-radius: 2rem !important;
}

.btns {
    font-size: 15px;
    font-family: "poppins light";
    height: 3rem;
    margin-left: 10px;
}

label {
    font-family: 'poppins';
    font-size: 15px;
    margin-left: 5px;
    color: #7A7A7A;
}

.fa-filter,
.gris {
    color: #7A7A7A;
}

.form-control:focus {
    box-shadow: none;
}

.dropdown-menu {
    padding: 10px;
    align-items: center;
}

.tabla {
    margin-top: 20px;
}

th {
    color: #4e4e4e;
    font-family: 'poppins';
    cursor: default;
    font-size: 16px;
}

.item {
    font-family: 'poppins';
    font-size: 15px;
}

.btn1 {
    background-color: #C30A20 !important;
    border-radius: 0.7rem !important;
    color: white;
    font-family: 'poppins';
    font-size: 13px;
    font-weight: 500;
    height: auto;
    box-shadow: none !important;
}

.btn2 {
    background-color: #7A7A7A !important;
    border-radius: 0.7rem !important;
    color: white;
    font-family: 'poppins';
    font-size: 13px;
    font-weight: 500;
    height: auto;
    box-shadow: none !important;
}

.btn {
    margin-left: 5px !important;
    display: inline;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse !important;
}

th,
td {
    word-wrap: break-word;
    border: none;
    vertical-align: middle;
}