<div class="container">
    <div class="empleados">
        <h1 class="titulo">Empleados</h1>
        <button class="btn btn-primary btns text-uppercase" [routerLink]="['/carga-actas']">Cargar
            <i class="fas fa-plus"></i>
        </button>
        <div class="tabla table-responsive align-middle">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="text-uppercase" style="width:10%;">DNI</th>
                        <th class="text-uppercase" style="width:10%;">Nombre</th>
                        <th class="text-uppercase" style="width:10%;">Apellido</th>
                        <th class="text-uppercase" style="width:15%;">Mail</th>
                        <th style="width:13%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="item">40775265</td>
                        <td class="item">Lourdes del Mar</td>
                        <td class="item">Lede</td>
                        <td class="item">lourdeslede17@gmail.com</td>
                        <button class="btn btn2">Editar</button>
                        <button class="btn btn1">Borrar</button>
                    </tr>
                    <tr>
                        <td class="item">12345678</td>
                        <td class="item">Empleado</td>
                        <td class="item">del Registro Civil</td>
                        <td class="item">empleadoregistrocivil@gmail.com</td>
                        <button class="btn btn2">Editar</button>
                        <button class="btn btn1">Borrar</button>
                    </tr>
                    <tr>
                        <td class="item">23456789</td>
                        <td class="item">Empleada</td>
                        <td class="item">del Registro Civil</td>
                        <td class="item">empleadaregistrocivil@gmail.com</td>
                        <button class="btn btn2">Editar</button>
                        <button class="btn btn1">Borrar</button>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>