/* You can add global styles to this file, and also import other style files */

.form-label-group input {
    height: 3rem;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1.5rem 0.1rem rgb(226, 226, 226);
    font-family: 'poppins';
    font-size: 13px;
}

.btn-primary {
    background-color: #C30A20 !important;
    border-radius: 1rem !important;
}

.navbar {
    background-color: #C30A20 !important;
}

.container {
    align-items: center;
    justify-content: center;
}

.card {
    height: auto !important;
    width: 100%;
    border-radius: 2rem !important;
    margin-top: 20px;
    box-shadow: 0.5rem 0.5rem 1rem 0.1rem rgb(226, 226, 226);
}

.card-header {
    font-family: 'poppins';
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    color: #4B5057;
    background-color: transparent !important;
    margin-top: 5px;
}

.card-title {
    font-family: 'poppins';
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    color: #7A7A7A;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'poppins'
}

i {
    cursor: pointer;
}

.btn-secondary {
    background-color: #979797 !important;
    border-radius: 2rem !important;
}

.alert-danger {
    color: #C30A20 !important;
    background-color: white !important;
    border: none !important;
    text-align: center;
    font-family: 'poppins';
}

.footer {
    height: 100px;
}

.modal-title {
    color: #C30A20;
    font-family: 'poppins';
}