.titulo {
    font-family: 'poppins';
    color: #C30A20;
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-top: 50px;
}

.txt {
    font-family: 'poppins';
    color: #C30A20;
    margin-left: 10px;
}

.btns {
    font-size: 15px;
    font-family: "poppins light";
    height: 4rem;
    display: block;
    margin: auto;
    margin-top: 20px;
}

.container-2 {
    display: block;
    align-items: center;
    justify-content: center;
}

.fas {
    margin-left: 10px;
}